<mat-toolbar>
  <div class="searchBar">
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Student Name">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button (click)="addStudent()">New</button>
    <button mat-raised-button>Delete</button>
  </div>
</mat-toolbar>

<mat-table #studentList [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let e"> {{e.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
    <mat-cell *matCellDef="let e"> {{e.age}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef> Symbol</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.gender.text}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5,10,25,50]"></mat-paginator>
