<mat-toolbar>
  <div class="searchBar">
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Student Name" [(ngModel)]="searchText">
      <button mat-icon-button matSuffix (click)="searchStudents()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button (click)="addStudent()">New</button>
    <button mat-raised-button color="warn">Delete</button>
  </div>
</mat-toolbar>

<mat-table #studentList [dataSource]="dataSource">
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let e">
      <mat-checkbox></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let e"> {{e.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
    <mat-cell *matCellDef="let e"> {{e.age}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
    <mat-cell *matCellDef="let e"> {{e.gender.text}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="editor">
    <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
    <mat-cell *matCellDef="let e">
      <button mat-icon-button (click)="editStudent(e)">
        <mat-icon>mode_edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="[5,10,25,50]"
               (page)="pageChange($event)"></mat-paginator>
