<fieldset *ngIf="student">
  <legend>Student Detail</legend>

  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="student.name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Age" [(ngModel)]="student.age">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender" [(ngModel)]="student.gender">
      <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="saveStudent()">Save</button>
</fieldset>
